<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Codeforces Downloader</title>
  </head>
  <body>
    <form class="" action="/" method="post">
      <label>handleName</label>
      <input type="text" name="userName" value="">
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
